<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kirjaudu sisään autokorjaamon varauskalenteriin</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
</head>
  
<body>

  <div class="main">

    <div class="header">
      <h1>Autokorjaamo Oy</h1>
      <h2>Program name</h2>
    </div>

    <div class="login">
      
      <!-- Sends password directly to backend flask -->
      <form method="POST" action="">
        <p>
          Käyttäjä:<br>
          <input id="username" type="text" name="username">
        </p>
        <p>
          Salasana:<br>
          <input id="password" type="password" name="password">
        </p>
        <p>
          <input type="submit" value="Kirjaudu">
        </p>
      </form>
      {% if error %}
        <p class="error"><strong>{{ error }}</strong></p>
      {% endif %}
      
    </div>

  </div>

</body>
</html>