<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timetable Flask</title>
  
  <style type="text/css">
    p, body, td, input, select { font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; font-size: 14px; }
    body { padding: 0px; margin: 0px; background-color: #ffffff; }
    a { color: #1155a3; }
    .space { margin: 10px 0px 10px 0px; }
    .header { background: #003267; background: linear-gradient(to right, #011329 0%, #00639e 44%, #011329 100%); padding: 20px 10px; color: white; box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75); }
    .header a { color: white; }
    .header h1 a { text-decoration: none; }
    .header h1 { padding: 0px; margin: 0px; }
    .main { padding: 10px; margin-top: 10px; }
    </style>

  <script type="text/javascript" src="{{url_for('static', filename='js/daypilot-all.min.js')}}"></script>
  

</head>
<body>
  <div class="main">
    <div style="display: flex">
  
      <div style="margin-right: 10px;">
        <div id="nav"></div>
      </div>
  
      <div style="flex-grow: 1;">
  
        <div class="space">
          Theme: <select id="theme">
          <option value="calendar_default">Default</option>
          <option value="calendar_white">White</option>
          <option value="calendar_g">Google-Like</option>
          <option value="calendar_green">Green</option>
          <option value="calendar_traditional">Traditional</option>
          <option value="calendar_transparent">Transparent</option>
        </select>
        </div>
  
        <div id="dp"></div>
      </div>
  
    </div>
  </div>


  <script>

    const nav = new DayPilot.Navigator("nav", {
      showMonths: 1,
      skipMonths: 1,
      locale: "fi-fi",
      selectMode: "Week",
      onTimeRangeSelected: args => {
        dp.update({
          startDate: args.day
        });
        app.loadEvents();
      }
    });
    nav.init();

    // Luodaan kalenteri
    const dp = new DayPilot.Calendar("dp", {
      viewType: "WorkWeek",
      businessBeginsHour: 8,
      dayBeginsHour: 8,
      dayEndsHour: 19,
      locale: "fi-fi",

      eventDeleteHandling: "Update",
      
      // Poistaa tapahtuman
      onEventDeleted: async (args) => {
        const data = {
          id: args.e.id()
        };
        await DayPilot.Http.post('/delete_event', data);
        // console.log("Deleted");
      },

      onEventMoved: async (args) => {
        const data = {
          id: args.e.id(),
          newStart: args.newStart,
          newEnd: args.newEnd,
        };
        await DayPilot.Http.post(`/move_event`, data);
        console.log("Moved.");
      },
      onEventResized: async (args) => {
        const data = {
          id: args.e.id(),
          newStart: args.newStart,
          newEnd: args.newEnd,
        };
        await DayPilot.Http.post(`/move_event`, data);
        console.log("Resized.");
      },
      
      onTimeRangeSelected: async (args) => {
        const form = [
          {name: "Name", id: "text"}
        ];

        const modal = await DayPilot.Modal.form(form, {});
        dp.clearSelection();

        if (modal.canceled) {
          return;
        }

        const event = {
          start: args.start,
          end: args.end,
          id: DayPilot.guid(), //
          text: modal.result.text
        };
        const {data} = await DayPilot.Http.post('/add_event', event);

        // Lisää kalenteriin
        dp.events.add({
          start: args.start,
          end: args.end,
          id: data.id,
          text: modal.result.text
        });
        // console.log("result", data)
        // console.log("Created.");
      },

      // Käyttäjä on valinnut tapahtuman muutettavaksi
      onEventClick: async (args) => {
        const form = [
          {name: "Name", id: "text"}
        ];

        // Näytetään vanhat tiedot
        const modal = await DayPilot.Modal.form(form, args.e.data);
        if (modal.canceled) {
          return;
        }

        // Otetaan uudet tiedot talteen ja lähetetään ne palvelimelle
        const data = {
          id: args.e.id(),
          text: modal.result.text
        };
        await DayPilot.Http.post(`/update_event`, data);

        dp.events.update({
          ...args.e.data,
          text: modal.result.text
        });
        console.log("Updated.");

      }

    });
    dp.init();

    const app = {
      elements: {
        theme: document.querySelector("#theme")
      },
      loadEvents() {
        dp.events.load('/eventlist');
      },
      init() {
        app.elements.theme.addEventListener("change", () => {
          dp.update({
            theme: app.elements.theme.value
          });
        });

        app.loadEvents();
      }
    };
    app.init();


  </script>
</body>
</html>